/* reset */
@import 'null.css';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* общие */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 16px;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
}
/* appointment */

.appointment {
    margin-bottom: 200px;
}
.appointment__container {
    max-width: 1440px;
    margin: 0 auto;
    background: url(../img/make-appoinment/background.png) 0 0 no-repeat;

    padding-top: 130px;
    padding-bottom: 210px;
    position: relative;
}
.appointment__container::before{
    content: '';
    width: 894px;
    height: 934px;
    background: url(../img/make-appoinment/decor1.png) 0 0 no-repeat;
    position: absolute;
    z-index: 2;
    top: 0;
    left:0;
}
.appointment__container::after{
    content: '';
    width: 335px;
    height: 567px;
    background: url(../img/make-appoinment/decor2.png) 0 0 no-repeat;
    position: absolute;
    z-index: 1;
    top: 239px;
    left:100px;
}
.appointment__content{
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    display: flex;
    flex-wrap: wrap;
    column-gap: 111px;
}
.appointment__wrapper-form {
    background: #5D62B5;
    border-radius: 40px;
    padding-bottom: 76px;
    flex: 1 1 585px;
    
}
.appointment__wrapper-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    padding-top: 76px;
    text-align: center;
}
.appointment__wrapper-title:not(:last-child){
    margin-bottom: 48px;
}
.appointment__form { 
    padding: 0 57px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 22.44px;
}
.appointment__form-item{
    padding: 13px 0px 13px 23.5px;
    border-radius: 10px;
    background: #5D62B5;
    border: 2px solid #fff;
    color:#fff;
    flex: 1 1 224px;
    font-size: 16px;
}
.appointment__form-item_select{
    font-size: 16px;
}
.appointment__form-item_text-area{
    font-family: 'Roboto', sans-serif;
    flex: 1 1 100%;
    height: 180px;
    max-height: 250px;
    resize: vertical;
}

.appointment__form-item::placeholder{
    color:#fff;
    line-height: 1.5;
    font-size: 16px;
}
.appointment__form-item:focus::placeholder{
    opacity: 0;
    transition: all 0.3s ease;
}
.appointment__form-item:focus{
    outline: none;
}
.appointment__button{
    margin-top: 7px;
    font-size: 12px;
    line-height: 2;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 7px;
    padding: 12px 31px;
    background-color: #F2726F;
    cursor: pointer;
    transition: all 0.3s ease;
}
.appointment__button:hover{
    transition: all 0.3s ease;
    background-color: #fc5653;
}
.appointment__body {
    flex: 1 1 324px;
    align-self: center;
}
.appointment__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    
}
.appointment__title:not(:last-child){
    margin-bottom: 46px;
}
.appointment__number {
    font-weight: 900;
    font-size: 96px;
    line-height: 0.58;
    text-align: center;
}
.appointment__number:not(:last-child){
    margin-bottom: 46px;
}
.appointment__subtitle {
    font-weight: 900;
    font-size: 19px;
    line-height: 1.36;
    text-align: center;
}

/* customers */

.customers {
    font-family: 'Poppins', sans-serif;
    color: #000;
    max-width: 565px;
    margin: 0 auto 200px;
    background: #F5F7FF;
    padding: 37px 57.5px 41px;
}
.customers__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.customers__subtitle {
    font-size: 14px;
    line-height: 2.14;
    margin-bottom: 15px;
}

.customers__input {
    padding: 16px 0px 17px 10px;
    width: 100%;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    margin-bottom: 5px;
}
.customers__input:focus{
    outline: none;
}
.customers__input::placeholder{
    font-size: 14px;
    line-height: 1.43;
    color: #A2A6B0;
    
}

.customers__label {
    display: block;
    font-size: 13px;
    line-height: 2.1;
    font-weight: 600;
    
}
.customers__label::after{
    content: '*';
    color: #C94D3F;
    padding-left: 2px;
}
.customers__buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}
.customers__sing-in {
    color:#fff;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 600;
    background-color:#0156FF;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 50px;
    min-width: 150px;
    transition: all 0.3s ease;
}
.customers__sing-in:hover{
    transition: all 0.3s ease;
    background-color: #003eba;
}
.customers__forgot {
    font-weight: 400;
    color: #0156FF;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;
    background:none;
    min-width: 150px;
}
.customers__forgot:hover{
    transition: all 0.3s ease;
    color: #003eba;
}

/* summary */

.summary {
    max-width: 446px;
    margin: 0 auto 100px;
    background: #F5F7FF;
    font-family: 'Poppins', sans-serif;
    color:#000;
    line-height: 1.5;
    padding: 18px 30px 30px;
}
.summary__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 19px;
}
.summary__subtitle {
    font-size: 18px;
    margin-bottom: 12.43px;
}
.summary__name{
    font-size: 14px;
    color: #666666;
    margin-bottom: 12.43px;
    max-width: 287px;
}
.summary__item:not(:last-child) {
    margin-bottom: 10px;
}
.summary__item_radio{
    padding-top: 10px;
    margin-bottom: 20px;
    
}
.summary__label {
    font-size: 13px;
    line-height: 2.1;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.summary__radio{
    flex: 1 1 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
}

.summary__input::placeholder{
    font-size: 14px;
    line-height: 1.43;
    color: #A2A6B0;
}
.summary__input,.summary__select {
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    width: 100%;
    padding: 18px 17px;
}
.summary__text{
    padding-left: 5px;
    flex: 1 1 366px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    position: relative;
    cursor: pointer;
}
.summary__text::before{
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #003eba;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left:-20px
}
.summary__radio:checked + .summary__text::after{
    transform: scale(1);
    transition: all 0.5s ease;
}
.summary__radio:checked + .summary__text::before{
    box-shadow: 0px 0px 5px 1px #003eba;
}
.summary__text::after{
    content: '';
    width: 8px;
    height: 8px;
    background: #003eba;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left:-14px;
    box-shadow: 0px 0px 5px 1px #003eba;
    transform: scale(0);
}
.summary__button {
    margin-top: 19px;
    border: 2px solid #0156FF;
    border-radius: 50px;
    color: #0156FF;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 17px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.summary__button:hover{
    transition: all 0.3s ease;
    color:#fff;
    background-color: #0156FF;
}